.App {
  text-align: center;
}

#heading {
  color: white;
}


#fero{
  margin: 50px;
  font-family: cursive;
}

#form{
  margin: 50px;

}

#input1{
  width: 275px;
  margin: -10px;
  height: 30px;
}

#input2{
  width: 275px;
  margin: -10px;
  height: 30px;
}

#input3{
  width: 100px;
  height: 30px;
}

#input4{
  width: 100px;
  height: 30px;
}

#input5{
  width: 150px;
  text-align: center;
}

#label{
  float: left;
  font-size: 10px;
}


#about{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

#about-con{
  margin: 70px;
}

#about-para{
  font-size: 14px;
  text-align: center;
}

#about-row{
  color: black;
  padding: 15px;
  position: relative;
  top: 70%;
  left: 30%;
  
}

#image{
  position: relative;
  text-align: center;
  color: white;
}

#text{
  position: absolute;
  top: 160%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 30%;
  height: 45%;
}

#h2{
  margin: 20px;
}

#imagePara{
  margin-left: 25px;
  margin-right: -45px;
}

#services{
  margin: 60px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 60px;
}


#row1{
  color: black;
  margin: 40px;
  position: relative;
  top: 250%;
  left: 55%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-20%);
}

#row2{
  color: black;
  margin: 30px;
  position: relative;
  top: 250%;
  left: 55%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-20%);
}

#gallery{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

#photos{
  color: black;
  margin: 20px;
  margin-bottom: 80px;
  position: relative;
  top: 250%;
  left: 55%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%, 10%);
}


#things{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  margin: 50px;

}

#contact{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

Breadcrumb.Item{
  margin: 20px;
  padding: 20px;
}

li a {
  margin-left: 90px;
}

#name-form{
  width: 30%;
}

#contact-form{
  width: 50%;
  position: relative;
  top: 50%;
  left: 55%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-110%, 10%);
}

#name-form input{
  height: 90%;
}

#f{
  height: 90%;
}

.vertical-menu {
  width: 200px;
  position: fixed;
  overflow: hidden;
  top: 250px;
  margin-left: 1100px;
}

.vertical-menu a {
  background-color: white;
  color: black;
  display: block;
  padding: 15px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

#map{
  width: 100%;
}